#posts
  / single
  .single
    %p.post-title.custom Newest Updates:
    %hr
    %ul
      %li
        %p.brief A feedback section was added! We take your feedback very seriously and work diligently to improve your experience here at Match-up.
      %li
        %p.brief The character list on the right sidebar is now alphabetized for easier navigation!
      %li
        %p.brief Match-up has a new design!
    %p.post-meta
      Posted Nov 14,  2010
      %span by Admin: WaKkWaKk    
    = image_tag('../img/shadow.png')