/* GENERAL ------------------------------------------------------------

body
  line-height: 1
  color: #696969
  background: #f9f7e8 url(../img/spring/bg.gif) repeat-x top center
  font-family: Arial, Helvetica, sans-serif
  font-size: 100%
  h2
    padding-left: 5px
  a
    text-decoration: none
    color: #696969
  #wrapper
    margin: 0px auto
    position: relative
    width: 960px
    #feedback-button
      font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif
      color: white
      display: block
      height: 90px
      padding: 5px
      position: fixed
      right: 0px
      top: 50%
      width: 22px
      writing-mode: tb-rl
    #main
      margin: 0px auto
      width: 700px
      background: white
      border: 1px black inset

#messages
  text-align: center
  background-color: #E2EEE5
  font-weight: bold
  margin: 0px auto
  width: 300px

#footer
  color: white
  background-color: black
  margin: 0px auto
  width: 700px
  height: 40px
  a
    text-decoration: none
    color: white
  table
    font-size: 18px
    width: 700px
    height: 25px
    td#user
      text-align: right

#topbar
  background-color: black
  margin: 0px auto
  width: 700px
  height: 30px
  a
    text-decoration: none
    color: white
  table
    font-size: 18px
    width: 700px
    height: 25px
    td#user
      text-align: right

#content
  padding: 10px
  h2
    padding-left: 135px
  textarea
    width: 460px
  font-size: 20px
  padding: 10px
  width: 490px
  padding-left: 65px
  h3
    margin-left: 150px
  h2
    padding-left: 235px
  #you
    padding-left: 250px
  .vs
    padding: 0px 20px
  #articles
    padding: 10px
    h3
      margin-left: 0px
      background: black
      color: white
      text-align: left
    #homepage
      text-align: left
      margin-left: 50px
      table
        width: 460px
#feedback
  padding: 10px
