/* GENERAL ------------------------------------------------------------

body
  background: black

h1
  margin: 0

#logo
  float: left

#user
  float: right

#nav
  width: 60%
  height: 100px
  padding: 0 20%
  background: red

#adminSidebar
  color: white
  background: blue
  position: absolute
  left: 0px

#content
  width: 60%
  min-height: 700px
  margin: 0 auto
  background: white

