/* IMPORTS ------------------------------------------------------------

@import url('reset.css')

/* HACKS ------------------------------------------------------------

.clear
  clear: both
  height: 1px

.inv
  display: none

/* GENERAL ------------------------------------------------------------

body
  line-height: 1
  color: #696969
  background: #f9f7e8 url(../img/spring/bg.gif) repeat-x top center
  font-family: Arial, Helvetica, sans-serif
  font-size: 100%

div#wrapper
  position: relative
  width: 960px
  margin: 0 auto

h1
  font-size: 36px
  line-height: 1.5em
  color: #665d4e

h2
  font-size: 32px
  line-height: 1.5em
  color: #665d4e

h3
  font-size: 26px
  line-height: 1.5em
  color: #665d4e

h4
  font-size: 22px
  line-height: 1.5em
  color: #665d4e

h5
  font-size: 18px
  line-height: 1.5em
  font-weight: bold
  color: #665d4e

h6
  font-size: 14px
  line-height: 1.5em
  color: #665d4e

p
  &.excerpt
    font-size: 32px
    line-height: 1.5em
    color: #665d4e
    width: 960px
    margin: 0 auto
    padding-bottom: 20px
    text-transform: uppercase
    text-align: center
    a
      color: #3e372b
      text-decoration: none
  &.section-title
    display: block
    overflow: hidden
    color: #665d4e
    margin-bottom: 18px
    span
      &.title
        display: block
        float: left
        font-size: 36px
        padding-right: 15px
        margin-right: 15px
        border-right: 1px solid #665d4e
      &.desc
        display: block
        float: left
        font-size: 14px
        line-height: 1.5em
        margin-top: 18px

.title-1
  background: url(../img/h1-bg.png) no-repeat -3px 3px
  text-indent: 9px

.title-2
  background: url(../img/h2-bg.png) no-repeat 0px 15px
  text-indent: 10px

.title-3
  color: #e1820b

blockquote h4
  font-size: 26px
  background: url(../img/quotes-close.png) no-repeat right bottom
  font-style: italic
  font-family: Georgia
  color: #665d4e
  line-height: 1.5em
  &:first-letter
    font-size: 26px

div.col blockquote p, blockquote p
  font-size: 14px
  font-style: italic
  font-family: Georgia
  color: #665d4e
  line-height: 1.5em

.custom1 a
  text-decoration: none

img
  &.left-align
    float: left
    margin: 8px 18px 18px 0
    display: block
  &.right-align
    float: right
    margin: 0px 0px 0px 10px
    display: block
  &.boxed
    background: white
    padding: 5px
    border: 1px solid #606060

/* HEADER ------------------------------------------------------------

div#header
  overflow: hidden
  position: relative
  height: 210px
  width: 100%
  background: url(../img/spring/top-bg.png) no-repeat
  img#logo
    position: absolute
    top: 75px
    left: 0px

/* ARROW ------------------------------------------------------------

img
  &#arrow
    position: relative
    top: 145px
  &.arrow-home
    display: none
  &.arrow-about
    left: 680px
  &.arrow-gallery
    left: 770px
  &.arrow-blog
    left: 843px
  &.arrow-contact
    left: 920px

/* NAV ------------------------------------------------------------

ul#nav
  display: block
  position: absolute
  top: 120px
  right: 0px
  width: 500px
  z-index: 300
  li
    display: block
    float: right
    a
      font-size: 16px
      text-decoration: none
      margin-left: 15px
      padding-right: 15px
      border-right: 1px solid #665d4e
    &.last a
      border-right: none 0px
      padding-right: 0px
    ul
      li
        border: none
        display: block
        margin-top: 10px
        padding-bottom: 10px
        border-bottom: 1px solid #665d4e
        &:last-child
          border: none
        a
          border: none
          font-size: 14px
      display: block
      padding: 10px 5px
      background: white
      border: 1px solid #665d4e

/* SEARCH ------------------------------------------------------------

form#search
  position: absolute
  top: 20px
  right: -22px
  width: 250px
  height: 50px
  input
    &#keyword
      color: #b8b2a9
      font-size: 14px
      width: 144px
      height: 30px
      margin: 10px 0px 5px 30px
      padding: 0px 30px 0px 5px
      border: 0
      background: url(../img/search-input.png) no-repeat transparent
    &#go
      position: absolute
      top: -2px
      right: 20px
      width: 49px
      height: 49px
      border: 0px
      background: url(../img/go-button.png) no-repeat transparent
      &:hover
        background-position: 0px -49px

/* MAIN ------------------------------------------------------------

div
  &#main
    width: 100%
    min-height: 650px
    position: relative
    overflow: hidden
  &.holder
    overflow: hidden
    div
      &.block
        width: 307px
        float: left
        margin: 0px 18px 0px 0px
      &.last
        margin: 0px 0px 70px 0px
      &.block
        div.thumb-holder
          position: relative
          width: 307px
          height: 129px
          background: url(../img/thumb-bg.png) no-repeat
          margin-bottom: 5px
        img.thumb
          position: absolute
          top: 2px
          left: 2px
        h2
          line-height: 1em
          margin-bottom: 0px
          text-indent: 0px
          background: none transparent
        h3
          line-height: 1em
          margin-bottom: 10px
        p.thumb-text
          font-size: 14px
          line-height: 1.5em
          color: #665d4e
          border-top: 2px solid #665d4e
          padding-top: 10px
          margin-bottom: 10px
  &.top-img
    width: 100%
    margin-top: 13px
    margin-bottom: 10px
    img
      display: block
      margin: 0 auto
  &.one-col, &.two-col, &.three-col
    overflow: hidden
  &.separator
    border-bottom: 1px solid gray
    margin-bottom: 18px
  &.one-col div.col
    width: 100%
  &.two-col div
    &.col
      width: 465px
      float: left
      margin-right: 30px
    &.last
      margin-right: 0px
  &.three-col div
    &.col
      width: 300px
      float: left
      margin-right: 30px
    &.last
      margin-right: 0px
  &.col p
    font-size: 14px
    line-height: 1.5em
    margin-bottom: 1.5em
  &#slideshow
    overflow: hidden
    position: relative
    height: 380px
    margin-bottom: 5px
    width: 960px
    ul#slides
      margin: 0 auto
      width: 950px
      height: 337px
      position: absolute
      top: 20px
      left: 5px
  &#slideshow-arrows
    margin: 0 auto
    z-index: 900
    width: 1000px
    height: 57px
  &#slideshow
    img
      &#prev
        position: absolute
        top: 180px
        left: 1px
        z-index: 20
      &#next
        position: absolute
        top: 180px
        right: 1px
        z-index: 21
    span
      background: url(../img/slideshow-border.png) no-repeat
      width: 960px
      height: 378px
      display: block
      position: absolute
      top: 0px
      left: 0px
      z-index: 10

/* COLUMNS ------------------------------------------------------------

/* SLIDESHOW ------------------------------------------------------------

#slideshow-nav
  display: block
  position: absolute
  overflow: hidden
  bottom: 40px
  right: 20px
  z-index: 20
  a
    display: block
    float: left
    background: url(../img/slidebutton.png) no-repeat
    height: 15px
    width: 15px
    text-indent: -9000px
    margin-right: 5px
    &.activeSlide
      background: url(../img/slidebutton-over.png) no-repeat

/* FADE-SLIDE ------------------------------------------------------------

div.fade-slide
  overflow: hidden
  height: 345px
  border: 2px solid white

/* GALLERY ------------------------------------------------------------

ul
  &.gallery
    overflow: hidden
    margin: 0px 0px 10px 0px
    width: 1000px
    li
      display: block
      position: relative
      overflow: hidden
      width: 226px
      height: 181px
      float: left
      margin: 0px 18px 10px 0px
      background: url(../img/gallery-thumb-bg.png) no-repeat
      text-align: center
      img
        margin: 1px 0px 0px 1px
      a:hover span
        display: block
      span
        display: none
        position: absolute
        top: 1px
        left: 1px
        width: 224px
        height: 150px
      &.cat-images span
        background: url(../img/over.png) no-repeat
      &.cat-video span
        background: url(../img/over-video.png) no-repeat
      &.cat-flash span
        background: url(../img/over-flash.png) no-repeat
      em
        display: block
        color: #665d4e
        font-size: 14px
        font-style: normal
        margin-top: 8px
  &#portfolio-filter
    display: block
    overflow: hidden
    width: 920px
    height: 63px
    padding: 12px 20px 5px 20px
    margin-top: 0px
    margin-bottom: 0px
    background: #665d4e
    background: url(../img/filter-bg.png) no-repeat
    li
      display: block
      float: left
      margin-right: 10px
      margin-top: 16px
      font-size: 14px
      &:first-child
        color: #606060
        font-weight: bold
      a
        color: #999999
        text-decoration: none
        &:hover
          color: #606060
  &.more-galleries
    display: block
    margin-left: 30px
    li
      display: block
      background: url(../img/bullet.png) no-repeat 0px 3px
      margin-bottom: 0.3em
      text-indent: 18px
      a
        font-size: 14px
        line-height: 1.5em
        color: #665d4e
        margin-bottom: 1.5em
        text-decoration: none
        font-weight: bolder
        span
          color: #909090
          font-weight: lighter
          font-size: 14px
        &:hover, &.active
          text-decoration: underline
      &:first-child
        /*list-style: none;
         *background: none;
         *margin-left: 0px;
         *margin-top: 26px;
         *margin-bottom: 1em;
  &.blog-pager
    display: block
    width: 100%
    li
      &:first-child
        display: block
        float: left
        background: url(../img/prev-bullet.png) no-repeat top left
        padding-left: 20px
        height: 16px
      &:last-child
        display: block
        float: right
        text-align: left
        background: url(../img/next-bullet.png) no-repeat top right
        padding-right: 20px
        height: 16px
      a
        text-decoration: none
        font-size: 14px
        font-weight: bold
        color: #665d4e
        display: block
  &.pager
    overflow: hidden
    display: block
    height: 20px
    position: absolute
    right: 0px
    margin-bottom: 230px
    li
      display: block
      width: 12px
      height: 12px
      float: left
      background: url(../img/spring/pager.png) no-repeat
      background-position: -18px 0px
      margin-left: 5px
      &:hover, &.active
        background-position: -38px 0px
      a
        display: block
        width: 100%
        height: 100%
        text-indent: -9000px
      &:first-child
        background-position: 0px 0px
      &:last-child
        background-position: -59px 0px

/* MORE-GALLERIES ------------------------------------------------------------

/* BLOG PAGER ------------------------------------------------------------

/* PAGER ------------------------------------------------------------

/* BLOG ------------------------------------------------------------

div
  &#main div#posts
    width: 610px
    float: left
  &#posts div
    &.post, &.single
      width: 100%
      position: relative
      overflow: hidden
      margin-bottom: 30px
    &.post p.post-title, &.single p.post-title
      display: block
      font-size: 26px
      line-height: 1.5em
      color: #665d4e
      padding-right: 70px
    &.post p.post-meta, &.single p.post-meta
      display: block
      font-size: 14px
      line-height: 1.5em
      color: #665d4e
    &.post p.post-meta span, &.single p.post-meta span
      font-weight: bold
      color: #979186
    &.post div.post-img, &.single div.post-img
      position: relative
      width: 612px
      height: 230px
      padding-bottom: 12px
      margin-top: 7px
    &.post div.post-img span, &.single div.post-img span
      position: absolute
      bottom: 0px
      left: 0px
      width: 614px
      height: 20px
      background: url(../img/post-shadow.png) no-repeat center bottom
      z-index: -1
    &.post div.post-img img, &.single div.post-img img
      border: 2px solid white
      width: 606px
    &.post p.brief, &.single p.brief
      display: block
      font-size: 14px
      line-height: 1.5em
      margin-bottom: 0.5em
      color: #665d4e
    &.post a.more
      display: block
      float: left
      overflow: hidden
      background: url(../img/spring/more-button.png) no-repeat
      width: 68px
      height: 25px
      text-indent: -9000px
  &.holder div.block a.more
    display: block
    float: left
    overflow: hidden
    background: url(../img/spring/more-button.png) no-repeat
    width: 68px
    height: 25px
    text-indent: -9000px
  &#posts div.post a.more:hover, &.holder div.block a.more:hover
    background-position: 0px -25px
  &#posts div
    &.post p.post-comments
      display: block
      position: absolute
      right: 0px
      top: 0px
      width: 67px
      height: 59px
      background: url(../img/spring/comments-balloon.png) no-repeat
      color: white
      font-size: 22px
      text-align: center
      padding-top: 12px
    &.comments
      p.post-comments
        display: block
        position: relative
        width: 67px
        height: 59px
        color: white
        font-size: 22px
        text-align: center
        padding-top: 10px
        margin-bottom: 20px
        span
          display: block
          position: absolute
          top: 10px
          left: 80px
          font-size: 22px
          color: #665d4e
      overflow: hidden
      position: relative
      margin-top: 10px
      padding-top: 30px
      margin-bottom: 40px
      padding-bottom: 0px
      border-top: 1px solid gray
      border-bottom: 1px solid gray
  &.comments ol.comments-list li
    display: block
    overflow: hidden
    margin-bottom: 30px
    padding: 10px 10px
    &:nth-child(odd)
      background: #faf9f5
    img
      border: 1px solid #665d4e
      padding: 1px
      display: block
      float: left
      margin: 0px 10px 10px 0px
    p
      &.meta
        display: block
        font-size: 12px
        line-height: 1.5em
        width: 500px
        float: left
        font-style: italic
        span
          font-weight: bold
      &.brief
        display: block
        font-size: 14px
        line-height: 1.5em
        color: #665d4e
        float: left
        width: 520px
  &#sidebar
    width: 270px
    float: right
    table
      &.side-block, &.side-posts
        display: block
        margin-bottom: 10px
      &.side-block td
        width: 110px
        height: 14px
        margin-bottom: 4px
        padding-bottom: 5px
        text-indent: 15px
        a
          font-size: 14px
          line-height: 1.5em
          color: #665d4e
          text-decoration: none
      &.side-posts 
        display: block
        overflow: hidden
        padding: 5px 0px
        margin: 5px 0px
        img
          float: left
          margin-right: 5px
          padding: 1px
          border: 1px solid #665d4e
        p
          &.brief
            display: block
            font-size: 14px
            line-height: 1.5em
            color: #665d4e
          &.title
            display: block
            font-size: 14px
            line-height: 1.5em
            color: #665d4e
            font-weight: bold
            font-size: 14px
            line-height: 1.5em
    ul
      &.side-block, &.side-posts
        display: block
        margin-bottom: 10px
      &.side-block li
        height: 14px
        display: block
        margin-bottom: 4px
        padding-bottom: 5px
        border-bottom: 1px solid #665d4e
        text-indent: 15px
        a
          font-size: 14px
          line-height: 1.5em
          color: #665d4e
          text-decoration: none
      &.side-posts li
        display: block
        overflow: hidden
        padding: 5px 0px
        margin: 5px 0px
        img
          float: left
          margin-right: 5px
          padding: 1px
          border: 1px solid #665d4e
        p
          &.brief
            display: block
            font-size: 14px
            line-height: 1.5em
            color: #665d4e
          &.title
            display: block
            font-size: 14px
            line-height: 1.5em
            color: #665d4e
            font-weight: bold
            font-size: 14px
            line-height: 1.5em
      &.side-block li:first-child a
        display: block
        font-size: 18px
        line-height: 1.5em
        color: #665d4e
        text-decoration: none
        text-indent: 10px
        padding-top: 16px
      &.side-posts li:first-child a
        display: block
        font-size: 18px
        line-height: 1.5em
        color: #665d4e
        text-decoration: none
        text-indent: 10px
        padding-top: 16px
        padding-top: 10px
      &.side-block li:first-child, &.side-posts li:first-child
        background: url(../img/sidebar-top.png) no-repeat
        height: 50px
        border: none
      &.side-block li:last-child, &.side-posts li:last-child
        border: none
  &.contact-left
    width: 450px
    float: left
  &.contact-right
    width: 450px
    float: right
    p
      font-size: 14px
      line-height: 1.5em
      margin-bottom: 1.5em
      color: #665d4e
    a
      color: #665d4e
      font-weight: bold
      text-decoration: none
  &.taped-image
    display: block
    position: relative
    height: 290px
    span
      position: absolute
      background: url(../img/tape.png) no-repeat
      width: 171px
      height: 28px
      left: 120px
    em
      position: absolute
      background: url(../img/shadow.png) no-repeat top center
      height: 28px
      width: 100%
      bottom: -11px
    img
      margin-top: 15px
      border: 4px solid white
  &.contact-left form, &.leave-comment form
  &.contact-left form, &.leave-comment form
    margin-top: 20px
  &.contact-left form
    input, textarea
      color: #665d4e
      font-size: 14px
      border: 1px solid #665d4e
      background: #f9f7e8
      padding: 4px 5px
      border-radius: 5px
      -moz-border-radius: 5px
      -webkit-border-radius: 5px
  &.leave-comment form
    input, textarea
      color: #665d4e
      font-size: 14px
      border: 1px solid #665d4e
      background: #f9f7e8
      padding: 4px 5px
      border-radius: 5px
      -moz-border-radius: 5px
      -webkit-border-radius: 5px
  &.contact-left form
    input, textarea
      width: 400px
      margin-bottom: 6px

/* COMMENTS BALLOON ------------------------------------------------------------

/* COMMENTS ------------------------------------------------------------

/* SIDEBAR ------------------------------------------------------------

/* CONTACT ------------------------------------------------------------

/* FORMS ------------------------------------------------------------

form#comment-form
  input, textarea
    width: 400px
    margin-bottom: 6px

div.contact-left form input#send, form#comment-form input#send
  width: 87px
  height: 36px
  background: url(../img/submit-button.png) no-repeat transparent
  border: none
  margin-top: 14px

div.contact-left form input#send:hover, form#comment-form input#send:hover
  background-position: 0px -37px

div.contact-left form fieldset label, form#comment-form label
  display: block
  font-size: 14px
  line-height: 1.5em
  font-weight: bold
  color: #665d4e

div.contact-left form fieldset p, form#comment-form p

div
  &.contact-left p#error, &.leave-comment p#error
    font-size: 14px
    line-height: 1.5em
    font-weight: bold
    color: #cc0000
    margin-bottom: 10px
  &.contact-left p#success, &.leave-comment p#success
    font-size: 14px
    line-height: 1.5em
    font-weight: bold
    color: #e1820b
    margin-bottom: 10px
  &#main p
    &.boxed-dotted
      background: white
      padding: 5px
      border: 2px dotted gray
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
    &.boxed-dashed
      background: white
      padding: 5px
      border: 2px dashed gray
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
    &.boxed-important
      background: #e3b438
      padding: 5px
      border: 2px solid #801409
      color: #801409
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
    &.boxed-blue
      background: #dfeefa
      padding: 5px
      border: 2px solid #4a5761
      color: #4a5761
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px

/* FONT STYLES ------------------------------------------------------------

ul.list li
  margin-left: 20px
  list-style: disc
  font-size: 14px
  line-height: 1.5em
  margin-bottom: 1em
  padding-bottom: 1em
  color: #665d4e
  border-bottom: 1px solid gray

ol.list li
  margin-left: 20px
  list-style-type: decimal
  font-size: 14px
  line-height: 1.5em
  margin-bottom: 1em
  padding-bottom: 1em
  color: #665d4e
  border-bottom: 1px solid gray

/* TOGGLE & ACCORDION ------------------------------------------------------------

h5
  &.accordion-trigger, &.toggle-trigger
    padding: 0 0 0 45px
    margin: 0 0 5px 0
    height: 46px
    line-height: 46px
    width: 100%
    float: left
    background: url(../img/toggle-button.png) no-repeat 10px 10px
    border-bottom: 1px solid #665d4e
  &.accordion-trigger a, &.toggle-trigger a
    color: #665d4e
    text-decoration: none
    display: block
  &.accordion-trigger a:hover, &.toggle-trigger a:hover
    color: #606060
  &.accordion-trigger.active, &.toggle-trigger.active
    background-position-x: 10px
    background-position-y: -68px

div
  &.accordion-container, &.toggle-container
    margin: 0 0 5px 0px
    padding: 0
    overflow: hidden
    width: 455px
    clear: both
  &.accordion-container .block, &.toggle-container .block
    padding: 10px
  &.accordion-container .block p, &.toggle-container .block p
    font-size: 14px
    line-height: 1.5em
    margin-bottom: 1.5em
  &#footer
    width: 100%
    padding-top: 60px
    margin-top: 40px
    ul#follow li p
      font-size: 14px
      line-height: 1.5em
      color: #665d4e
      font-weight: bold
    div
      &#footer-wrapper
        position: relative
        width: 960px
        min-height: 200px
        margin: 0 auto
        background: url(../img/bottom-bg.png) no-repeat bottom center
        ul#follow
          display: block
          position: absolute
          width: 244px
          height: 56px
          top: -80px
          left: 358px
          background: url(../img/follow-bg.png) no-repeat
          li
            display: block
            float: left
            margin-left: 17px
            margin-top: 10px
      &.footer-cols
        overflow: hidden
        margin-top: 10px
        margin-bottom: 10px
        div
          width: 238px
          margin: 0px 1px
          float: left
          min-height: 170px
          background: url(../img/footer-separator.png) no-repeat top right
        ul
          width: 100px
          margin: 0  auto
        div.last
          background: none
        ul li
          margin-left: 10px
          margin-bottom: .1em
          a
            text-decoration: none
            font-size: 14px
            line-height: 1.5em
            font-weight: lighter
          &:first-child
            margin-bottom: .5em
            a
              text-decoration: none
              font-size: 14px
          a:hover
            text-decoration: underline
      &.footer-bottom
        margin-top: 30px
        overflow: hidden
        width: 960px
        p.legal
          display: block
          font-size: 12px
          line-height: 1.5em
          height: 30px
          text-align: center

/* FOOTER ------------------------------------------------------------
