/* GENERAL ------------------------------------------------------------ */
body {
  line-height: 1;
  color: #4f4f4f;
  background: black url(../img/background.jpg) repeat-x center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%; }
  body h2 {
    padding-left: 5px; }
  body a {
    text-decoration: none;
    color: #696969; }
  body #wrapper {
    margin: 0px auto;
    position: relative;
    width: 960px; }
    body #wrapper #feedback-button {
      font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
      color: white;
      display: block;
      height: 90px;
      padding: 5px;
      position: fixed;
      right: 0px;
      top: 50%;
      width: 22px;
      writing-mode: tb-rl; }
    body #wrapper #main {
      margin: 0px auto;
      width: 700px;
      background: white;
      border: 1px black inset; }

#characters h2 {
  margin-left: -75px; }

#messages {
  text-align: center;
  background-color: #e2eee5;
  font-weight: bold;
  margin: 0px auto;
  width: 300px; }

#footer {
  color: white;
  background-color: black;
  margin: 0px auto;
  width: 700px;
  height: 40px; }
  #footer a {
    text-decoration: none;
    color: white; }
  #footer table {
    font-size: 18px;
    width: 700px;
    height: 25px; }
    #footer table td#user {
      text-align: right; }

#topbar {
  background-color: black;
  margin: 0px auto;
  width: 700px;
  height: 30px; }
  #topbar a {
    text-decoration: none;
    color: white; }
  #topbar table {
    font-size: 18px;
    width: 700px;
    height: 25px; }
    #topbar table td#user {
      text-align: right; }

#content {
  padding: 10px;
  font-size: 20px;
  width: 490px;
  padding-left: 65px; }
  #content h1 {
    padding-left: 25px;
    width: 600px; }
  #content h2 {
    padding-left: 235px; }
  #content textarea {
    width: 460px; }
  #content h3 {
    margin-left: 150px; }
  #content .vs {
    padding: 0px 20px; }
  #content #articles {
    padding: 0px 5px; }
    #content #articles h3 {
      background: black;
      color: white;
      text-align: center;
      margin: 5px 0px;
      width: 460px; }
    #content #articles p {
      padding: 0px 10px; }
    #content #articles li {
      font-size: 85%; }
    #content #articles th {
      text-align: left;
      margin-left: 0px; }
    #content #articles #match {
      margin-left: -135px;
      width: 590px; }
      #content #articles #match li {
        overflow: hidden; }
      #content #articles #match h3 {
        width: 700px;
        background: black;
        color: white;
        padding: 15px 0px; }
    #content #articles #homepage {
      width: 590px; }
      #content #articles #homepage li {
        overflow: hidden; }
      #content #articles #homepage h3 {
        width: 700px;
        background: black;
        color: white;
        padding: 15px 0px;
        margin-left: -70px; }

#feedback {
  padding: 10px; }
