/* GENERAL ------------------------------------------------------------ */
body {
  background: black;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.7em; }
  body a {
    text-decoration: none;
    color: white; }
    body a:hover {
      color: #86d01d; }

h1 {
  width: 80%;
  font-size: 30px;
  color: #321f00;
  margin: 0 auto;
  text-shadow: 0 1px 1px white;
  font-weight: bold;
  font-weight: bold; }

h2 {
  width: 80%;
  font-size: 20px;
  text-shadow: 0 1px 1px white;
  margin: 0 auto; }

h3 {
  width: 80%;
  margin: 0 auto; }

p {
  width: 80%;
  margin: 0 auto; }

li {
  width: 80%;
  list-style: none; }

hr {
  width: 80%;
  margin: 0 auto;
  width: 80%; }

form {
  width: 80%;
  margin: 10px auto; }
  form textarea {
    background: #f9f9f9;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    width: 100%; }

.button {
  color: white;
  margin: 0;
  background: #489615;
  background: -moz-linear-gradient(#84c63c, #489615) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#84c63c), to(#489615));
  box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1), 0 -4px rgba(0, 0, 0, 0.1) inset;
  font-size: 16px;
  padding: 4px 8px 6px; }

#wrapper {
  background: black url(../img/background2.jpg) no-repeat center;
  min-height: 850px;
  width: 100%; }

#logo {
  font-size: 130%;
  padding: 5px 0;
  float: left; }

#user {
  font-size: 125%;
  float: right;
  overflow: hidden; }
  #user #facebookLoggedIn {
    margin-top: 5px;
    margin-right: 10px;
    float: left; }
    #user #facebookLoggedIn img {
      float: left; }
    #user #facebookLoggedIn .name {
      background: url(../img/facebook-button-background.png) repeat-x;
      display: inline;
      padding: 5px;
      float: left; }
  #user #signOut {
    padding-top: 8px;
    float: left; }

#topbar {
  width: 100%;
  color: white;
  height: 95px;
  background: black;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.13); }
  #topbar #nav {
    width: 80%;
    height: 75%;
    display: block;
    color: white;
    border-bottom: 2px ridge white;
    margin: auto auto; }
  #topbar #secondaryNav {
    width: 80%;
    border-top: 2px inset white;
    height: 22%;
    display: block;
    margin: auto auto; }

#section2 {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
  background-color: #d0d0d0; }

#adminSidebar {
  background: white;
  color: #2d1900;
  position: absolute;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.13);
  left: 0px; }
  #adminSidebar a {
    color: #2d1900;
    padding: 0 10px; }

#contentContainer {
  width: 1000px;
  margin: 0 auto;
  display: block; }

#midsection {
  float: left;
  width: 100%;
  margin: 0 auto;
  min-height: 550px;
  border: 1px solid #d4d4d4;
  background: white;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.13); }

#content {
  float: left;
  width: 70%;
  text-align: center;
  display: inline; }
  #content h1 img {
    width: 62px;
    height: 75px; }

ul.tips {
  width: 80%; }
  ul.tips img {
    height: 150px;
    width: 62px;
    height: 75px; }
  ul.tips a {
    color: black; }
  ul.tips li {
    width: 85%;
    margin: 25px auto; }
    ul.tips li .userName {
      display: inline;
      color: #2d1900; }
    ul.tips li img {
      width: 62px;
      height: 75px; }
    ul.tips li p {
      color: #666666;
      width: 100%;
      background: white;
      border: 1px solid #cccccc;
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      padding: 20px; }

#sidebar {
  text-align: center;
  width: 260px;
  display: inline;
  float: right;
  min-height: 550px; }
  #sidebar a {
    color: black; }
  #sidebar #sidebarSection {
    float: right;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    min-height: 100px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    clear: both;
    clear: both; }
    #sidebar #sidebarSection #alternating {
      background: #f0f0f0; }
    #sidebar #sidebarSection h3 {
      width: 100%;
      background: #686868;
      color: white;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      -moz-border-radius: 5px; }
    #sidebar #sidebarSection h4 {
      margin: 2px 5px; }
    #sidebar #sidebarSection img {
      width: 35px;
      height: 40px; }

#facebookLike {
  padding: 10px;
  width: 100%; }

#feedback {
  width: 100%; }
  #feedback textarea {
    color: white;
    background-color: #160e00;
    height: 100px;
    border: 1px solid #442b00; }
  #feedback .button {
    width: 100%;
    margin-top: 25px;
    margin-right: -10px; }

#messages {
  color: white;
  background: #2d1900;
  text-align: center;
  width: 100%;
  font-size: 150%; }

#footer {
  float: left;
  width: 100%;
  height: 100px;
  margin-top: 80px; }
  #footer #breadcrum {
    height: 70px; }
  #footer #middleSection {
    height: 300px;
    color: #b9af9c; }

#copywrap {
  float: left;
  width: 100%;
  height: 50px;
  background: black;
  color: white;
  margin: 0;
  border-top: 2px solid white; }

#chooseYourCharacter {
  width: 100%;
  margin: 0 auto; }
  #chooseYourCharacter li {
    width: 10%;
    display: inline; }
  #chooseYourCharacter .linkWithoutTips {
    display: inline; }
    #chooseYourCharacter .linkWithoutTips img {
      opacity: 0.6;
      background: black; }
  #chooseYourCharacter .linkWithTips {
    display: inline; }
    #chooseYourCharacter .linkWithTips img {
      margin: 0;
      border: 1px double #666666; }
  #chooseYourCharacter img {
    height: 52px;
    width: 46px;
    margin: 1px; }

.spacer {
  margin: 10px;
  display: inline; }
