/* GENERAL ------------------------------------------------------------ */
body {
  line-height: 1;
  color: #4f4f4f;
  background: black url(../img/background.jpg) repeat-x center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%; }
  body h2 {
    padding-left: 5px; }
  body a {
    text-decoration: none;
    color: #696969; }
  body #wrapper {
    margin: 0px auto;
    position: relative;
    width: 960px; }
    body #wrapper #feedback-button {
      font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
      color: white;
      display: block;
      height: 90px;
      padding: 5px;
      position: fixed;
      right: 0px;
      top: 50%;
      width: 22px;
      writing-mode: tb-rl; }
    body #wrapper #main {
      margin: 0px auto;
      width: 700px;
      background: white;
      border: 1px black inset; }

#messages {
  text-align: center;
  background-color: #e2eee5;
  font-weight: bold;
  margin: 0px auto;
  width: 300px; }

#character_navigation {
  font-size: 125%;
  text-align: center;
  width: 700px; }
  #character_navigation table {
    margin: 0px auto; }

#topbar {
  background-color: black;
  margin: 0px auto;
  width: 700px;
  height: 30px; }
  #topbar a {
    text-decoration: none;
    color: white; }
  #topbar table {
    font-size: 18px;
    width: 700px;
    height: 25px; }
    #topbar table td#user {
      text-align: right; }

#sidebar {
  position: fixed;
  left: 0px;
  height: 225px;
  width: 150px;
  background: white; }
  #sidebar h1 {
    font: underline; }

#footer {
  color: white;
  background-color: black;
  margin: 0px auto;
  width: 700px;
  height: 40px; }
  #footer a {
    text-decoration: none;
    color: white; }
  #footer table {
    font-size: 18px;
    width: 700px;
    height: 25px; }
    #footer table td#user {
      text-align: right; }

#footer {
  color: white;
  background-color: black;
  margin: 0px auto;
  width: 700px;
  height: 40px; }
  #footer a {
    text-decoration: none;
    color: white; }
  #footer table {
    font-size: 18px;
    width: 700px;
    height: 25px; }
    #footer table td#user {
      text-align: right; }

#content {
  min-height: 700px; }
  #content #user_view {
    width: 550px;
    margin: 50px auto; }
    #content #user_view h2 {
      text-align: center; }
  #content #articles #uparrow a {
    color: #4682b4; }
  #content #articles #uparrow img {
    height: 15px;
    width: 15px; }
  #content #articles ul li {
    width: 625px;
    background-color: #edeff4;
    list-style-type: none; }
  #content #articles h2 {
    color: white;
    text-align: center;
    background-color: black; }
  #content #articles h3 {
    text-align: center;
    width: 700px; }
  #content #articles hr {
    width: 550px; }
  #content #articles i {
    color: gray;
    font-weight: normal;
    font-size: 13px; }
  #content #articles form {
    width: 600px;
    margin: 0px auto; }
    #content #articles form textarea {
      width: 600px; }

#feedback {
  padding: 10px; }
