%h2 The Stream
%p The stream is brough to you every Friday starting around 6.
%p Matches are held in State College Pa. Check out the Srk forums for the scoop on the State College crew.
<object type="application/x-shockwave-flash" height="500" width="600" id="clip_embed_player_flash" data="http://www.justin.tv/widgets/archive_embed_player.swf" bgcolor="#000000"><param name="movie" value="http://www.justin.tv/widgets/archive_embed_player.swf" /><param name="allowScriptAccess" value="always" /><param name="allowNetworking" value="all" /><param name="allowFullScreen" value="true" /><param name="flashvars" value="auto_play=false&start_volume=25&title=Marvel/ AE | State College stream&channel=wakkwakk&archive_id=294682051" /></object><br /><a href="http://www.justin.tv/wakkwakk#r=-rid-&amp;s=em" class="trk" style="padding:2px 0px 4px; display:block; width: 320px; font-weight:normal; font-size:10px; text-decoration:underline; text-align:center;">Watch live video from wakkwakk on Justin.tv</a>
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="matchuptips.com/stream" num_posts="5" width="550"></fb:comments>
