#content
  %h2
    = @match.player.name
    vs
    = @match.opponent.name
  #articles
    - @match.articles.each do |o|
      %table
        %hr
        %tr
          %td
            %p
              =o.body
  %br
  = render 'form'
