#posts
  %table
    %tr
      %td
        %h2
          = @match.player.name
          vs
          = @match.opponent.name
        - @match.articles.each do |o|
          =o.body
          %br
      %td
        %h2
          = link_to "Post", new_matchup_article_path(:matchup_id => params[:id])
