%h1 Share Street Fighter tips and master all your match-ups.
#chooseYourCharacter
  %h2 Choose your character!
  %ul
    - characters.each do |character|
      %li
        = link_to character.name, character_path(character)

