%h1 Share Street Fighter tips and master all your match-ups.
#chooseYourCharacter
  %h2 Choose your character!
  - characters.each do |character|
    %ul
      %li
        character
      %li
        character

