#homepage
  %h1 Share Street Fighter tips and master all your match-ups.
  %h2 Select your character!
  #chooseYourCharacter
    %ul
      - characters.each do |character|
        %li
          = link_to image_tag("../img/characters/#{character.name}.jpg"), character_path(character)
