#characters
  %h3 Select your character!
  %table
    - @characters.map(&:name).sort.in_groups_of(2).each do |group|
      %tr
        - group.each do |o|
          %td
            - o = Character.find_by_name(o)
            = link_to "#{o.name}", character_path(o.id)
  / %br
  / = render 'form'
