#homepage
  = image_tag("/img/sf4logo.jpg", :height => "20%")
  %h1 Share Tips About Your Favorite Character!
  %h2 Select your character!
  #chooseYourCharacter
    %ul
    - characters.each do |character|
      %li
        = link_to image_tag("../img/characters/#{character.name}.jpg"), character_path(character)
