#characters
  %h2
    Choose your opponent!
    %i
  %table
    - @matches.sort.each_slice(2) do |group|
      %tr
        -group.each do |match|
          %td
            vs
            = link_to "#{match.opponent.name}", matchup_path(match)
