%h1= character.name
%h2 
  How to (name): Tips
%ul
  %li Tip 1
  %li Tip 2
%h2 
  Dealing with (name): Tips
%ul
  %li Tip 1
  %li Tip 2
%h2 
  Matchups
%ul
- matchups.each do |match|
  %li
    = link_to match.opponent.name, matchup_path(match)

