#posts
  %table
    %th
      %h2
        = @character.name
    - @opponent_names.sort.in_groups_of(6) do |group|
      %tr
        -group.each do |opponent_name|
          %td
            vs
            = link_to "#{opponent_name}", matchup_path(), :action => :get
