-# #character_navigation
  -# %table
    -# %h1 Share articleup knowledge and master your favorite game.
    -# %h3 Select your character!
    -# - @characters.map(&:name).sort.in_groups_of(12).each do |group|
      -# %tr
        -# - group.each do |o|
          -# %td
            -# - unless o == nil
              -# - o = Character.find_by_name(o)
              -# - article = Matchup.find_by_player(o.id)
              -# = link_to image_tag("../img/characters/#{o.name}.jpg") , character_path(o)
#articles
  %h3 
    Your
    = image_tag("../img/characters/#{@character.name}.jpg")
    Player
  %h3
    Choose an Opponent!
  %table
    - @matches.sort.each do |match|
      %tr
        - @articles = match.articles.all
        - @articles.each do |article|
          %td
          - unless article == nil
            hi
            -# = link_to image_tag("../img/characters/#{article.opponent.name}.jpg"), matchup_path(match)
