- if current_user && current_user.admin
  %h2 Matchup: Feedback List
  %hr
  %ul
    - feedbacks.each do |feedback|
      %li
        %p
          = feedback.body
        %p
          *
          %b= feedback.referer
          (
          = feedback.created_at.to_date
          )
          %hr
- else
  %h3
    Hey your not an Admin!
