#footer
  #footer-wrapper
    %ul#follow
      %li
        %p Follow us:
      %li
        %a{:href => "#"}
          %img{:alt => "Twitter", :src => "img/twitter.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "Facebook", :src => "img/facebook.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "Facebook", :src => "img/linkedln.png"}/
      %li
        %a{:href => "#"}
          %img{:alt => "Facebook", :src => "img/rss.png"}/
    .footer-cols
      %div
        %ul
          %li
            %a.custom{:href => "#"} Skins
          %li
            %a{:href => "../spring/"} Spring
          %li
            %a{:href => "../summer/"} Summer
          %li
            %a{:href => "../autumn/"} Autumn
          %li
            %a{:href => "../winter/"} Winter
      %div
        %ul
          %li
            %a.custom{:href => "gallery.html"} Gallery
          %li
            %a{:href => "../spring/"} Spring
          %li
            %a{:href => "../summer/"} Summer
          %li
            %a{:href => "../autumn/"} Autumn
          %li
            %a{:href => "../winter/"} Winter
      %div
        %ul
          %li
            %a.custom{:href => "blog.html"} Blog
          %li
            %a{:href => "../spring/"} Spring
          %li
            %a{:href => "../summer/"} Summer
          %li
            %a{:href => "../autumn/"} Autumn
          %li
            %a{:href => "../winter/"} Winter
      .last
        %ul
          %li
            %a.custom{:href => "about.html"} Text Styles
          %li
            %a{:href => "../spring/"} Spring
          %li
            %a{:href => "../summer/"} Summer
          %li
            %a{:href => "../autumn/"} Autumn
          %li
            %a{:href => "../winter/"} Winter
    .footer-bottom
      %p.legal
        © 2010
        %strong watercolor template
        all rights reserved.
/ ENDS FOOTER
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-19817143-1']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
