#footerContent
  #breadcrum
  #middleSection
    #feedback
      %h3 Feedback?
      - form_for(feedback) do |o|
        = o.text_area :body
        %p
          = o.submit "Submit", :controller => :feedbacks, :action => :create, :class => :button

