.copyright Copyright © 2010 TITANIUM FOLIO
.social
  %ul
    %li
      %a{:href => "http://facebook.com"}
        %img{:alt => "", :src => "public/images/facebook.png"}/
    %li
      %a{:href => "http://twitter.com/mariuspop"}
        %img{:alt => "", :src => "public/images/twitter.png"}/
    %li
      %a{:href => "http://flickr.com"}
        %img{:alt => "", :src => "public/images/flickr.png"}/
    %li
      %a{:href => "http://linkedin.com"}
        %img{:alt => "", :src => "public/images/linkedin.png"}/
