.copyright Copyright © 2010 Ashskutches
.social
  %ul
    %li
      = link_to image_tag('/images/facebook.png'), "http://facebook.com/ashskutches"
    %li
      = link_to image_tag('/images/twitter.png'), "http://twitter.com/ashskutches"
    %li
      = link_to image_tag('/images/flickr.png'), "http://flickr.com"
    %li
      = link_to image_tag('/images/linkedin.png'), "http://linkedin.com/ashskutches"