%ul#nav
  %li.last
    - if user_signed_in?
      = current_user.email
    -else
      %h1
        %a{:href => "/users/registration/sign_up"} Sign up / Log in
  %h1
    %a{:href => "/"} TauntWinFree.com
