#nav
  #logo
    %a{:href => "/"} MatchupTips.com
  #user
    - if user_signed_in?
      = link_to "#{current_user.email}", edit_user_registration_path
      %a{:href => "/users/sign_out"} / Sign out
    - else
      %a{:href => "/users/registration/sign_up"} Sign up
      = "/"
      = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)

