-if current_user && current_user.admin
  #sidebar
    %h1
      Admin
      %hr
    %h2
      = link_to "Users", users_path
      %p
      = link_to "Posts", matchups_path
      %p
      = link_to "Feedback", feedbacks_path
