/ sidebar
#sidebar
  / side-block
  %ul.side-block
    %li 
      = link_to "Characters", characters_path
      - listofcharacter = Character.all.collect {|fighter| fighter.name}
      - listofcharacter.each do |charactername|
        %li
          %a.custom= link_to "#{charactername}", (Character.find_by_name(charactername))
