%h2.bebas-font 
  = link_to "Characters", characters_path
%ul.categories
  - listofcharacter = Character.all.collect {|fighter| fighter.name}
  %ul
    - listofcharacter.each do |charactername|
      %li= link_to "#{charactername}", (Character.find_by_name(charactername))

